@model SinglePropertyDetailsViewModel
<div class="bg-white box-shadow-1 z-index-10 position-relative p-top-60 p-bottom-30">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="clearfix">
                    <div class="badge badge-success pull-left m-bottom-15 p-top-8 p-right-12 p-bottom-8 p-left-12 rounded-0">@Model.Purpose</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="m-bottom-30 clearfix">
                    <h2>@Model.Title</h2>
                    <p>@Model.Address.Street, @Model.Address.Town</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="m-bottom-30 text-right">
                    <h1 class="text-bold-700 text-base">@Model.Price @Model.Currency</h1>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="bg-light-3 p-top-60 p-bottom-60">
    <div class="container">

        <div class="row">

            <!-- CONTENT -->
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-md-12 m-bottom-30">
                        <div class="bg-white card-body p-top-30 p-bottom-30 p-left-30 p-right-30 box-shadow-1">
                            <h3 class="text-bold-700 m-bottom-10">Описание</h3>

                            <div class="hr dark text-left m-bottom-20">
                                <hr class="border-3 border-double border-light border-left-0 border-top-0 border-right-0">
                                <div class="icons text-light">
                                    <i class="fa fa-circle-o"></i>
                                    <i class="fa fa-circle-o"></i>
                                    <i class="fa fa-circle-o"></i>
                                </div>
                                <hr class="border-3 border-double border-light border-left-0 border-top-0 border-right-0">
                            </div>

                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>
                <!-- /DESCTIPTION -->
                <!-- ADDRESS -->
                <div class="row">
                    <div class="col-md-12 m-bottom-30">
                        <div class="bg-white card-body p-top-30 p-bottom-30 p-left-30 p-right-30 box-shadow-1">
                            <h3 class="text-bold-700 m-bottom-10">Адрес</h3>

                            <div class="hr dark text-left m-bottom-20">
                                <hr class="border-3 border-double border-light border-left-0 border-top-0 border-right-0">
                                <div class="icons text-light">
                                    <i class="fa fa-circle-o"></i>
                                    <i class="fa fa-circle-o"></i>
                                    <i class="fa fa-circle-o"></i>
                                </div>
                                <hr class="border-3 border-double border-light border-left-0 border-top-0 border-right-0">
                            </div>

                            <div class="row m-bottom-30">
                                <div class="col-md-12">
                                    <div class="row m-bottom-10">
                                        <div class="col-6"><strong>Адрес:</strong></div>
                                        <div class="col-6 text-right">@Model.Address.Street</div>
                                    </div>
                                    <div class="row m-bottom-10">
                                        <div class="col-6"><strong>Област:</strong></div>
                                        <div class="col-6 text-right">@Model.Address.State</div>
                                    </div>
                                    <div class="row m-bottom-10">
                                        <div class="col-6"><strong>Град:</strong></div>
                                        <div class="col-6 text-right">@Model.Address.Town</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"><strong>Квартал:</strong></div>
                                        <div class="col-6 text-right">@Model.Address.Neighborhood</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ADDRESS -->
                <!-- DETAIL -->
                <div class="row">
                    <div class="col-md-12 m-bottom-30">
                        <div class="bg-white card-body p-top-30 p-bottom-30 p-left-30 p-right-30 box-shadow-1">
                            <h3 class="text-bold-700 m-bottom-10">Детайли</h3>

                            <div class="hr dark text-left m-bottom-20">
                                <hr class="border-3 border-double border-light border-left-0 border-top-0 border-right-0">
                                <div class="icons text-light">
                                    <i class="fa fa-circle-o"></i>
                                    <i class="fa fa-circle-o"></i>
                                    <i class="fa fa-circle-o"></i>
                                </div>
                                <hr class="border-3 border-double border-light border-left-0 border-top-0 border-right-0">
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row m-bottom-10">
                                        <div class="col-5"><strong>Тип:</strong></div>
                                        <div class="col-7 text-right">@Model.PropertyType</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row m-bottom-10">
                                        <div class="col-5"><strong>Предназначение:</strong></div>
                                        <div class="col-7 text-right">@Model.Purpose</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row m-bottom-10">
                                        <div class="col-5"><strong>Статус:</strong></div>
                                        <div class="col-7 text-right">@Model.Status</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row m-bottom-10">
                                        <div class="col-5"><strong>Спални:</strong></div>
                                        <div class="col-7 text-right">@Model.Details.NumberOfBedrooms</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row m-bottom-10">
                                        <div class="col-5"><strong>Легла:</strong></div>
                                        <div class="col-7 text-right">@Model.Details.NumberOfBeds</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row m-bottom-10">
                                        <div class="col-5"><strong>Бани:</strong></div>
                                        <div class="col-7 text-right">@Model.Details.NumberOfBathrooms</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row m-bottom-10">
                                        <div class="col-5"><strong>Жилищна площ:</strong></div>
                                        <div class="col-7 text-right">@Model.Details.HomeArea кв.м.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row m-bottom-10">
                                        <div class="col-5"><strong>Обща площ:</strong></div>
                                        <div class="col-7 text-right">@Model.Details.TotalArea кв.м.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row m-bottom-10">
                                        <div class="col-5"><strong>Година са строителство:</strong></div>
                                        <div class="col-7 text-right">@Model.Details.YearOfBuild</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /DETAIL -->
                <!-- FACILITIES -->
                <div class="row">
                    <div class="col-md-12 m-bottom-30">
                        <div class="bg-white card-body p-top-30 p-bottom-30 p-left-30 p-right-30 box-shadow-1">
                            <h3 class="text-bold-700 m-bottom-10">Обществени сгради в близост</h3>

                            <div class="hr dark text-left m-bottom-20">
                                <hr class="border-3 border-double border-light border-left-0 border-top-0 border-right-0">
                                <div class="icons text-light">
                                    <i class="fa fa-circle-o"></i>
                                    <i class="fa fa-circle-o"></i>
                                    <i class="fa fa-circle-o"></i>
                                </div>
                                <hr class="border-3 border-double border-light border-left-0 border-top-0 border-right-0">
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row m-bottom-10">
                                        <div class="col-6"><strong>Хранителен магазин:</strong></div>
                                        <div class="col-6 text-center">@Model.Facilities.FoodStores @Model.Facilities.FoodStoreDistance</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row m-bottom-10">
                                        <div class="col-6"><strong>Болница:</strong></div>
                                        <div class="col-6 text-center">@Model.Facilities.Hospitals @Model.Facilities.HospitalDistance</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row m-bottom-10">
                                        <div class="col-6"><strong>Училище:</strong></div>
                                        <div class="col-6 text-center">@Model.Facilities.School @Model.Facilities.SchoolDistance</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /FACILITIES -->
                <!-- AGENT -->
                <div class="row">
                    <div class="col-md-12 m-bottom-50">
                        <div class="bg-white card-body p-top-30 p-bottom-30 p-left-30 p-right-30 box-shadow-1">
                            <h3 class="text-bold-700 m-bottom-10">Брокер</h3>

                            <div class="hr dark text-left m-bottom-20">
                                <hr class="border-3 border-double border-light border-left-0 border-top-0 border-right-0">
                                <div class="icons text-light">
                                    <i class="fa fa-circle-o"></i>
                                    <i class="fa fa-circle-o"></i>
                                    <i class="fa fa-circle-o"></i>
                                </div>
                                <hr class="border-3 border-double border-light border-left-0 border-top-0 border-right-0">
                            </div>

                            <div class="row">
                                <div class="col-md-8 col-sm-8 match-height vcenter">
                                    <div class="agent-section position-relative p-top-10 p-right-15 p-left-15 p-top-30-sm p-bottom-25-sm">
                                        <div class="agent-data m-top-0 m-bottom-20">
                                            <h4 class="text-uppercase text-bold-700"><a href="single-agent.html" class="text-base">@Model.Agent.FirstName @Model.Agent.LastName</a></h4>
                                        </div>
                                        <ul class="icon-list">
                                            <li><i class="btn btn-base rounded-0 fa fa-envelope"></i> @Model.Agent.Email</li>
                                            <li><i class="btn btn-base rounded-0 fa fa-phone"></i> @Model.Agent.PhoneNumber</li>
                                        </ul>
                                    </div>
                                </div>
                                <form asp-controller="Appointment" asp-action="Create" asp-route-propertyId="@Model.Id" method="post">
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-base rounded-0 text-bold-600 text-spacing-5 text-uppercase text-size-13 m-bottom-10 p-left-15 p-right-15 m-right-4">Организирай оглед</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /AGENT -->
        </div>
        <!-- /CONTENT -->
    </div>
</div>
