@model List<Property>
<div class="bg-light-3 p-top-80 p-bottom-80">
    <div class="container">

        <!-- DATA -->
        <div class="bg-white m-bottom-40 box-shadow-1">
            <table class="table">
                <thead class="bg-dark text-white">
                    <tr class="valign-middle">
                        <th class="width-150 p-top-20 p-bottom-20" colspan="2">
                            <i class="fa fa-home"></i>
                            Имоти
                        </th>
                        <th class="p-top-20 p-bottom-20">
                            <i class="fa fa-magic"></i>
                            Действия
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                        {
                    <tr class="valign-middle">
                        <td class="width-150">
                            <a asp-controller="Property" asp-action="Details" asp-route-id="@item.Id">
                                <img class="width-120" alt="Property" src="@item.PictureUrl">
                            </a>
                        </td>
                        <td>
                            <h2 class="text-base text-bold-700 m-top-0">@item.Price @item.Currency</h2>
                            <h5>
                                <a asp-controller="Property" asp-action="Details" asp-route-id="@item.Id" class="text-bold-600 text-dark text-base-hover">@item.Title</a>
                            </h5>
                            <p class="m-bottom-0">@item.Address</p>
                        </td>
                        <td>
                            <div class="row">
                                <form asp-controller="Property" asp-action="Edit" asp-route-id="@item.Id" method="get">
                                <button class="btn btn-sm btn-warning text-size-11 text-uppercase text-bold-700 p-top-5 p-bottom-5 p-left-10 p-right-10 rounded-0"><i class="fa fa-edit"></i> Промени</button>
                                </form>
                                </div>
                            <div class="row mt-2">
                                <form asp-controller="Property" asp-action="Remove" method="post" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-sm btn-danger text-size-11 text-uppercase text-bold-700 p-top-5 p-bottom-5 p-left-10 p-right-10 rounded-0"><i class="fa fa-remove"></i> Изтрий</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /DATA -->
    </div>
</div>

